body {
}

}

.content-slider {
    
    padding: 0 100px 0 100px !important
}

/* view_hang_moi_ve*/
#hang_moi_ve {
    margin-top: -485px;
    border: 1px solid;
    margin-left: 62px;
    width: 1200px;
    height: 500px;
}

.anh_sp {
    width: 200px !important;
    height: 300px !important;
}


/* gioi_thieu*/


   
#gioi_thieu { margin-top: 100px;
}
    #gioi_thieu .nd_gt {
        float: left;
        width: 450px;
        margin-left: 104px;
    }

.video_gt {
    float: left;
    margin-top: -54px;
    padding-left: 50px;

}

/* danh mục sp*/
.view_ruou .view_sp {
border: 1px solid;
padding: 2px;
margin: 10px;

}
}
.view_ruou .show_tennsx {

color:#9d9c9c;
font-family:"novecento_sans_widemedium";
font-size:14px;
padding: 0 100px;

}
.view_ruou .show_ten_sp {
color: #6d6d6d;
padding: 0 100px;
font-family:"novecento_sans_widemedium";
font-size:18px;
 
}
.view_ruou .show_gia {
    color:#9d9c9c;
font-family:"novecento_sans_widemedium";
font-size:14px;
padding: 0 100px 0 0;

}
.view_ruou .btn_chitiet {

}
.